/*@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');*/
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.5;
}

footer {
    font-size: 14px;
}

footer a {
    color:#ffffff;
}

footer a:hover {
    color: #ffff00;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
}

header, footer, main {
    margin: 1.25rem auto;
    max-width: 750px;
}

header, footer {
    background-color: #002D5F;
    color: #ffffff;
    padding: 1.25rem;
    text-align: center;
}

header {
    font-size: 20px;
    line-height: 50px;
}

header img {
    height: auto;
    width: 150px;
}

main {
    padding: 0 25px 0;
    color: #000000;
}

main a {
    color: #0000cc;
}

main a:hover {
    color: #0080ff;
}

p {
    padding-bottom: 0;
    margin: 0;
}

#lastmodified {
    color: #ffff00;
}
