body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 30px;
	margin: 0;
}

h2 {
	margin:3px;
}

h3 {
	background-color: #394956;
    border-radius: 10px 10px 0 0;
    color: #ffffff;
	margin-top: 0px;
    padding: .25em;
    text-align: left;
}

header, footer {
	background-color: #002D5F;
	color: #ffffff;
	margin: auto;
	padding: .25em;
}

main {
	display: grid;
	grid-gap: 0.8em;
	grid-template-columns: 1fr;
	margin: auto;
	padding: 0.8em;
}

section{
    background-color: #efefef;
    border: 1px solid;
    border-color: #b1b1b1;
    border-radius: 10px;
}

section p {
    text-align: left;
    padding: 0 .5em 0 .5em;
}

section img{
    max-width: 95%;
    border: 1px solid;
    border-color: #b1b1b1;
}

#lastmodified {
    color: #ffff00;
}
