@media only screen and (min-width: 45em) {
	footer {
		width: 42em;
	}

	header img {
		width: 75%;
	}

	main {
		width: 40em;
	}

	nav button {
		display: none;
	}
		
	nav ul {
		display: flex;				
	}
	
	nav ul li {
		flex: 1 1 100%;
	}
	
	nav ul li a {
		border: none;
	}

	nav ul.hide {
		display: flex;
	}
}