html { -webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	margin: 0 0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
#notice {
	background-color: #efcc00;
	display: none;
	padding: .5rem;
}

header {
	align-items:center;
	background-color: #2e5098;
	color: #fff;
	display: flex;
	justify-content:center;
	padding: .5rem 0;
	text-align: center;
}
header h1 { font-size: 1.5rem; }
header img {
	max-width: 75%;
	padding: 10px;
}
.headings {
	display: flex;
	flex-direction: column;
}
.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 .5rem;
	text-align: left;
}
.moto {
	color: #fff;
	font-size: x-small;
	font-style: italic;
	letter-spacing: .01rem;
	margin-left: 1rem;
	text-align: left;
}

nav {
	clear: left;
	background-color: #efcc00; 
}
nav button {
	background-color: transparent;
	border: none;
	color: #000;
	font-size: 1rem;
	margin: .5rem;
}
nav a:hover {
	background-color: #0baeff;
	color: #000;
}
nav li a {
	color: #000;
	display: block;
	font-size: .95rem;
	padding: .75rem;
	text-decoration: none;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul.hide { display: none; }
.active {
	background-color: #fff;
	color: #000;
}
  
main {
    max-width: 50rem;
	margin: 0 auto;
	margin-top: 1.5rem;
}
main h2 {
	margin: .3rem;
	text-align: center;
}
main h3 { margin: .3rem; }
.gallery {
	display: grid;
	grid-template-columns: 1fr;
	padding: .5rem;
}
.gallery img {
	border: 1px;
	border-color: #000;
	border-style: solid;
	width: 100%;
}
figure {
	background-color: #efefef;
	padding: .5rem;
	margin: .5rem 0;
}
figcaption {
	text-align: center;
	background-color: #efefef;
	
}

footer {
	background-color: #2e5098;
	color: #fff;
	padding: .1rem;
	text-align: center;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
}