@media only screen and (min-width: 60em) {
	footer {
		width: 52em;
	}

	header h1 {
		font-size: 40px;
	}
		
	header p {
		font-size: 16px;
	}
	
	main {
		width: 50em;
	}

	nav button {
		display: none;
	}
		
	nav ul {
		display: flex;				
	}

	nav ul li {
		flex: 1 1 100%; 
	}
	
	nav ul li a {
		border: none;
	}

	nav ul.hide {
		display: flex;
	}
}