@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

footer {
	text-align: center;
	padding: .10em;
}

footer a:visited {
	color: #ffffff;
}

header {
	line-height: .25em;
	padding: 1.75em;
	width: 100%;
}

header, footer {
	background-color: #2e5098;
	color: #ffffff;
	margin: auto;
}

header h1 {
	font-size: 30px;
}

header img {
	float: left;
	width: 75px;
}

header p {
	font-style: italic;
	font-size: 14px;
}

main {
	margin: auto;
	padding: 0.8em;
}

main h2 {
	margin: 3px;
	text-align: center;
}

nav {
	clear: left;
	background-color: #2892d0;
	text-align: center;
}

nav a:hover {
	background-color: #ffe20d;
	color: #000000;
}

nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	color: #ffffff;
}

nav li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul.hide {
	display: none;
}

.active {
	background-color: #ffffff;
	color: #000000;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }

.contentbox {
    background-color: #eeeeee;
	border: 1px dashed #000000;
	color: #444444;
	display: block;
	font-style: italic;
	margin: 10px auto;
	padding: 15px;
}

.sitelogo {
    width: 200px;
}
