html { -webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	margin: 0 0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#notice {
	background-color: #efcc00;
	display: none;
	padding: .5em;
}
header {
	align-items:center;
	background-color: #005183;
	color: #ffffff;
	display: flex;
	justify-content:center;
	padding: .5rem 0;
	text-align: center;
}
header h1 { font-size: 1.5rem; }
header img {
	max-width: 75%;
	padding: 10px;
}
.headings {
	display: flex;
	flex-direction: column;
}
.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 .5rem;
	text-align: left;
}
.moto {
	color: #ffffff;
	font-size: x-small;
	font-style: italic;
	letter-spacing: .01rem;
	margin-left: 1rem;
	text-align: left;
}

nav {
	clear: left;
	background-color: #0885bf; 
}
nav button {
	background-color: transparent;
	border: none;
	color: #000;
	font-size: 1rem;
	margin: .5rem;
}
nav a:hover {
	background-color: #f68121;
	color: #000;
}
nav li a {
	color: #ffffff;
	display: block;
	font-size: .95rem;
	padding: .75rem;
	text-decoration: none;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul.hide { display: none; }
.active {
	background-color: #ffffff;
	color: #000000;
}

.card {
    background-color: #5db5ef;
    border: 1px black solid;
    box-shadow: 0 0 .5rem 0 #000;
	display: block;
	margin: 20px 20px 20px 20px;
	padding: 5px 5px;
}

.contact {
	color: #000000;
	display: grid;
	grid-template-columns: 1fr;
	margin: 1.5rem 1.5rem 0 1.5rem;
	padding: 1rem;
}
.contactform { margin: 1.5rem 1.5rem 0 1.5rem; }
.info {
	padding: 1rem 1rem 1rem 1rem;
	text-align: left;
}
#date {
	margin-bottom: 0;
	padding-bottom: .5rem;
}
.hero { position: relative; }
.hero img { max-width: 90%; }
.weathersummary {
	background: radial-gradient(#eeeeee, #2e5098);
	border: 1px solid #000000;
	box-shadow: 0 0 30px #111111;
	left: 3.8rem;
	line-height: .5rem;
	opacity: .8;
	padding: 1rem;
	position: absolute;
	top: 1.2rem;
}

.activities { margin: 1rem 1rem 1rem 1rem; }
.activities section { margin: 1rem 0 1rem 0; }
.activities section img { width: 100%; }
.activities p, .activities h2, .activities h3 {
	background-color: #dce5ef;
	margin: 0;
	text-align: center;	
}
.activities h2 { padding: 10px 15px 10px 15px; }
.activities h3 { font-style: italic; }

main {
    max-width: 50rem;
	margin: 0 auto;
	margin-top: 1.5rem;
}
main h2 {
	margin: .3rem;
	text-align: center;
}
main h3 { margin: .3rem; }
main form {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	margin: auto;
	padding: 1rem;
	max-width: 23rem;
	text-align: left;
}
form label {
	font-size: 80%;
	font-weight: bold;
	padding-top: .5rem;
}
.inline {
	width: initial;
	display: inline-block;
	padding: 0;
}
input[type="submit"] {
	background-color: #0885BF;
	color:white;
	padding: .5rem 0;
}
input[type="submit"]:hover {
	background-color: #F68121;
	color:#ffffff;
}
input, textarea, select { 
	padding: .5rem .5rem; 
}
label, input, select, textarea {
	display: block;
	width: 100%;
}
.required { color: red; }

footer {
	background-color: #005183;
	color: #ffffff;
	padding: .10rem;
	text-align: center;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
}