@media only screen and (min-width: 35rem) {
	.headings h1 {
		font-size: 2rem;
		margin-left: .3rem;
	}
	.moto {
		letter-spacing: 1.5pt;
		font-size: small;
		margin-left: .5rem;
	}

	nav button { display: none; }
	nav ul { display: flex;	}
	nav ul.hide { display: flex; }
	nav ul li { flex: 1 1 100%; }
	nav ul li a {
		border: none;
        font-size: .8rem;
        text-align: center;
        white-space: nowrap;
	}

	.forecast {
		display: block;
		flex-direction: row;
		max-width: 28rem;
		margin: 0 auto;
	}
	.week {
		display: flex;
		flex-direction: row;
	}
	.week div img { padding: .5rem; }
	.week div:last-child {
		border-right: 1px solid #000000;
	}
	.day {
		border-top: 1px solid #000000;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		flex: 1 1 100%;
		font-size: .7rem;
	}
	.label {
		background-color: #2e5098;
		border-bottom: 1px solid #000000;
		color: #ffffff;
		display: block;
		font-size: 1.5rem;
		font-weight: 700;
		padding: .3rem;
	}
	.temp {
		color: #000000;
		display: block;
		padding: .3rem;
		font-weight: 700;
		font-size: 1.5rem;
	}
	article { font-size: 1rem; }
	article img {
		width: 16rem;
		float: right;
		margin: 1rem;
	}
	article h3 { font-size: 1.2rem; }
	.map {
		border: 1px solid #000000;
		display: block;
		float: left;
		width: 100%;
	}	
}