/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {
	/*----------- HEADER --------------*/
	.headings h1 {
		font-size: 3rem;
		margin-left: .5rem;
	}
	.moto {
		letter-spacing: .1rem;
		font-size: large;
		margin-left: 1.2rem;
	}

	/*----------- MAIN --------------*/
	.hero img { width: 90%; }

	/*---------- NAVIGATION -----------*/
	nav ul li a { font-size: 1rem; }	
} /* end of media query */