@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	margin: 0 0;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#notice {
	background-color: #efcc00;
	display: none;
	padding: .5em;
}

header {
	padding: .5em 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header, footer {
	background-color: #2e5098;
	color: #ffffff;
	text-align: center;
}

header h1 {
	font-size: 1.5em;
}

header img {
	width: 4em;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6em;
	margin: 0 0 0 .5em;
	text-align: left;
}

.moto {
	color: #ffffff;
	font-size: x-small;
	font-style: italic;
	letter-spacing: .01em;
	margin-left: 1em;
	text-align: left;
}

nav {
	clear: left;
	background-color: #efcc00; 
}

nav button {
	background-color: transparent;
	border: none;
	color: #000000;
	font-size: 1em;
	margin: .5rem;
}

nav a:hover {
	background-color: #0baeff;
	color: #000000;
}

nav li a {
	color: #000000;
	display: block;
	font-size: 0.95em;
	padding: 0.75em;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul.hide {
	display: none;
}

.active {
	background-color: #ffffff;
	color: #000000;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
}

main {
    max-width: 50em;
	margin: 0 auto;
	margin-top: 1.5em;
}

main h2 {
	margin: .3em;
	text-align: center;
}

main h3 {
	margin: .3em;
}

.hero {
    position: relative;
}

.hero img {
	max-width: 90%;
}

.weathersummary {
	background: radial-gradient(#eeeeee, #2e5098);
	border: 1px solid #000000;
	box-shadow: 0 0 30px #111111;
	left: 3.8em;
	line-height: .5em;
	opacity: .8;
	padding: 1em;
	position: absolute;
	top: 1.2em;
}

.forecast {
	display: none;
}

article {
	background-color: #dce5ef;
	display: block;
    padding: 2em 2em 1em 2em;
	text-align: left;
	margin: 1.5em 1.5em 0 1.5em;
}

article img {
	box-shadow: 0 0 2em 0 #111111;
	height: auto;
}

article h5 {
	font-style: italic;
}

article p {
    padding: 0 1em 0 0;
}

.contact {
	background-color: #9CB2E3;
	color: #000000;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 1.5em 1.5em 0 1.5em;
	padding: 1em;
}

.map {
	display: none;
}

.info {
	padding: 3em 5em 1em 5em;
	text-align: left;
}

footer {
	padding: .10em;
}