@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

footer {
	text-align: center;
	padding: .10em;
}

footer a {
	color:#ffffff;
	text-decoration: none;
}

footer a:hover {
    color: #efcc00;
}

header {
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header, footer {
	background-color: #2e5098;
	color: #ffffff;
}

header h1 {
	font-size: 30px;
}

header img {
	width: 80px;
	height: auto;
}

main {
	align-items: center;
	margin: auto;
	padding: 0.8em;
}

main h2 {
	margin: 3px;
	text-align: center;
}

nav {
	clear: left;
	background-color: #efcc00; 
	text-align: center;
}

nav a:hover {
	background-color: #0baeff;
	color: #000000;
}

nav button {
	background-color: transparent;
	border: none;
	color: #000000;
	font-size: 1rem;
	margin: .5rem;
}

nav li a {
	color: #000000;
	display: block;
	font-size: 0.95rem;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul.hide {
	display: none;
}

.active {
	background-color: #ffffff;
	color: #000000;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }

.contentbox {
    background-color: #eeeeee;
	border: 1px dashed #000000;
	color: #444444;
	display: block;
	font-style: italic;
	margin: 10px auto;
	padding: 15px;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.herodiv {
	border: 1px dashed cyan;
	height: 300px;
	margin: 10px auto;
	position: relative;
	width: 750px;
}

.hero {
	background-color: #eeeeee;
	border: 1px solid #333333;
	height: 250px;
	margin: 10px auto;
	width: 100%;
}

.moto {
	font-style: italic;
	letter-spacing: 1pt;
	color: #ffffff;
	margin-left: 20px;
	font-size: .9rem;
}

.weathersummary {
	background: radial-gradient(#eeeeee, #2e5098);
	border: 1px solid #000000;
	box-shadow: 0 0 30px #111111;
	left: 50px;
	opacity: .8;
	padding: 1.5em;
	position: absolute;
	top: 25px;
}