@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
body {
    margin: 0 auto;
}
h1, h2 {
    color: #4d4d96;;
    font-family: 'Bree Serif';
    margin: 0;
    text-align: center;
}
h2 { padding: .5rem; }
p {
    font-size: .8rem;
    margin: .2rem;
    padding: .1rem;
}
section {
    background-color: #b9b9cc;
    border: .1rem solid #8585b2;
}
.cards {
    background: #dddddd;
    box-shadow: 0 0 2rem .7rem rgba(0,0,0,.5);
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(17, 1fr);
    margin: .5rem;
    padding: 1rem;
    text-align: center;
}
img {
    border: 1px solid #000000;
    box-shadow: 0 0 1rem .7rem rgba(0,0,0,0.3);
    height: auto;
    margin: .5rem;
    width: 9rem;
}
footer {
    padding: 1.5rem;
    text-align: center;
}

@media only screen and (min-width: 32.5em) {
    body { max-width: 40rem; }
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media only screen and (min-width: 64em) {
    body { max-width: 70rem; }
    h1 { font-size: 2rem; }
    h2 { font-size: 1.5rem; }
    .cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}