@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

footer {
	text-align: center;
}

h1 {
	font-size: 40px;
}

h2 {
	margin: 3px;
}

header {
	line-height: .25em;
	width: 100%;
}

header, footer {
	background-color: #2e5098;
	color: #ffffff;
	margin: auto;
	padding: .50em;
}

header img {
	width: 75px;
}

main {
	margin: auto;
	padding: 0.8em;
}

nav {
	clear: left;
	background-color: #2892d0;
	text-align: center;
}

nav a:hover {
	background-color: #ffe20d;
	color: #000000;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

section img {
	max-width: 100%;
}

section p {
    text-align: left;
    padding: 0 .5em 0 .5em;
}

.active {
	background-color: #ffffff;
	color: #000000;
}

.moto {
	font-style: italic;
}

.sec {
    background-color: #efefef;
    border: 1px solid;
	border-color: #000000;
	margin-top: 10px;
}

.sitelogo {
    width: 200px;
}

.typography {
    width: 100px;
}

#lastmodified {
    color: #ffbf0d;
}
